<div class="container">
  <h1>Edit</h1>
  <%= render "form", { :submit_label => 'Update' } %>
  <%= link_to 'delete account', user_path(current_user), class: 'delete-button user', method: :delete, data: { confirm: 'Are you sure you want to remove your account?'} %>
</div>

