<h1><%= @user.username %></h1>

<% @albums.each do |album| %>
  <div>
    <%= link_to album.title, album_path(:id => album.id) %>
  </div>
<% end %>

<%= link_to 'Add Album', new_user_album_path(@user) %>
