/*-------------------- TYPOGRAPHY ------------------*/
@font-face {
  font-family: 'Newscycle';
  src: url('news_cycle.ttf');
  src: url('news_cycle.ttf') format('truetype');
}

@font-face {
  font-family: 'Anton';
  src: url('anton.ttf');
  src: url('anton.ttf') format('truetype');
}

@font-face {
  font-family: 'Pathway';
  src: url('pathway_gothic.ttf');
  src: url('pathway_gothic.ttf') format('truetype');
}

/*-------------------- COLORS----------------------*/
$pink: #FF82AB;
$skyblue: #7EC0EE;
$skybluehover: #61b1ea;
$turquoise: #79CDCD;
$green: #3CB371;
$greenhover: #339961;
$red: #CD5555;
$redhover: #c63939;
$darkgray: #575757;
$lightgray: #ABABAB;

/*-------------------- TAGS -----------------------*/

html, body {
  height: 100%;
}

body {
  background-color: #EEE;
  font-family: 'Newscycle', Arial, sans-serif;
}

section, div {
  @include box-sizing(border-box);
}

a {
  text-decoration: none;
  @include transition(0.5s);
}

h1, h2, h3 {
  margin: 0;
  font-family: 'Anton', Arial, sans-serif;
  text-align: center;
}

h1 {
  &.username {
    font-size: 100px;
    text-transform: lowercase;
    margin: 0 auto;
    padding: 20px;
    border-bottom: 1px solid;
    text-align: left;

    &:after {
      content: '.';
    }
  }
}

h2 {
  font-size: 40px;
}

nav {
  background-color: $darkgray;
  height: 60px;
  width: 100%;
  @include box-sizing(border-box);

  a {
    color: #FFF;
    text-transform: uppercase;
    line-height: 60px;
    display: inline-block;
    height: 100%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  li {
    display: inline-block;
    @include transition(0.5s);
    @include box-sizing(border-box);
    height: 100%;
    padding: 0 15px;

    &:hover {
      background-color: $skyblue;
    }
  }
}

input {
  outline: none;
}

form {
  // border: 1px solid;

  > * {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  label {
    text-transform: uppercase;
    width: 80%;
    margin: 15px auto 0;
  }

  input[type="submit"] {
    margin: 40px auto 20px;
    width: 80%;
    border: 1px solid $green;
    background-color: $green;
    @include transition(0.5s);
    text-transform: uppercase;
    color: #FFF;
    padding: 20px 0;

    &:hover {
      border: 1px solid $greenhover;
      background-color: $greenhover;
    }
  }
}

/*-------------------- IDs ------------------------*/

/*-------------------- CLASSES --------------------*/

.container {
  max-width: 980px;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid;
  text-align: center;
}

.registration {
  text-align: justify;
  height: 100%;
  font-size: 0;

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }

  h1 {
    text-transform: uppercase;
    font-size: 40px;
  }

  p {
    width: 80%;
    margin: 0 auto;
    color: $red;
  }

  > div {
    width: 49%;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
  }

  .bg {
    background: url('pug.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
  }

  input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #CCC;
    background: inherit;
    padding: 10px 0;

    &:focus {
      border-bottom: 1px solid #000;
    }
  }
}

.image {
  @include transition(0.5s);
  @include border-radius(2px);
  @include box-shadow(0, 1px, 2px, rgba(0,0,0,0.07));
  background-color: #FFF;
  width: 220px;
  height: 180px;
  display: inline-block;
  padding: 10px 10px 20px 10px;
  vertical-align: top;
  margin: 8px;
  position: relative;
  cursor: pointer;

  p {
    margin: 0;
    text-align: center;
  }

  .image-display {
    background-size: cover;
    background-position: center center;
    width: 200px;
    height: 150px;
  }

  .image-info {
    @include transition(0.5s);
    background-color: rgba(255,255,255, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 20px 30px 20px;
    height: 100%;
    width: 100%;

    a {
      display: block;
      height: 100%;
      width: 100%;
    }

    h3 {
      margin: 0;
    }

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 200px;
      max-height: 140px;
    }
  }
}

.image-user-path {
  text-transform: uppercase;
}

.modal {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  white-space: nowrap;
  text-align: center;
  font-size: 0;

  &:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .content {
    font-size: 12px;
    text-wrap: normal;
    vertical-align: middle;
    width: 600px;
    background-color: #FFF;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    display: inline-block;

    img {
      max-height: 400px;
    }

    .close {
      background-image: url('close_red.png');
      display: inline-block;
      background-size: 30px 30px;
      height: 30px;
      width: 30px;
      position: absolute;
      top: -10px;
      right: -10px;
      z-index: 10001;
      cursor: pointer;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.add-button, .edit-button, .delete-button, .add-favorite-button, .remove-favorite-button {
  display: inline-block;
  @include transition(0.5s);
  outline: none;
  padding: 15px 30px;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }
}

.add-button, .add-favorite-button {
  border: 1px solid $green;
  background-color: $green;

  &:hover {
    border: 1px solid $greenhover;
    background-color: $greenhover;
  }
}

.edit-button {
  border: 1px solid $skyblue;
  background-color: $skyblue;

  &:hover {
    border: 1px solid $skybluehover;
    background-color: $skybluehover;
  }
}

.delete-button, .remove-favorite-button {
  border: 1px solid $red;
  background-color: $red;

  &:hover {
    border: 1px solid $redhover;
    background-color: $redhover;
  }
}

.add-favorite-button a, .remove-favorite-button a {
  color: #FFF;
}

.admin-delete-icon {
  position: absolute;
  top: -10px;
  right: -8px;
  background-image: url('close_red.png');
  background-size: 20px 20px;
  z-index: 100;
  width: 20px;
  height: 20px;
  font-size: 0;
}

.favorite-icon {
  background-image: url('heart.png');
  background-size: cover;
  background-position: center center;
  width: 15px;
  height: 13px;
  z-index: 200;
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

input.error, textarea.error, {
  border: 1px solid $red;
}

@media (max-width: 973px) {
  .images {
    text-align: center;
  }
}
