<section class="container flex-container">
  <h1 class="pug-life">Pug Life.</h1>
  <% @images.sort { |a,b| b.updated_at <=> a.updated_at }.each do |image| %>
      <%= render "images/image_info", :image => image, :@album => image.album %>
  <% end %>
</section>



