<h1>All Images</h1>

<section id="mainImages">
  <% @images.sort { |a,b| b.updated_at <=> a.updated_at }.each do |image| %>
    <div class="image">
      <div class="image-display" style="background-image: url(<%= image.url %>)">
      </div>
      <div class="image-info hide">
        <h3><%= image.title %></h3>
        <p><%= image.description %></p>
        <%= link_to '', image_path(image.id) %>
      </div>
    </div>
  <% end %>
</section>

